<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-2"></div>
				<div class="col-xs-8">
					<%= form_for(@book) do |f| %>
						<% if @book.errors.any? %>
						<div id="error_explanation">
						<h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
							<ul>
								<% @book.errors.full_messages.each do |message|%>
								<li><%= message %></li>
							<% end %>
							</ul>
						</div>
					<% end %>
					<h1>Editing BOOK</h1>
					<div>
						<div class="field row">
							 <label>Title</label>
							<%=f.text_field :title, class: "book_title col-xs-12" %>
						</div>

						<div class="field row">
							<label>Opinion</label>
							<%= f.text_area :opinion, class: "book_body col-xs-12" %>
						</div>

						<div class="actions row">
							<%= f.submit "Update Book",class: "btn btn-default col-xs-12 btn-primary" %>
						</div>

						<div>
							<%= link_to "Show", book_path(@book.id), class: "book_#{@book.id}" %>|<%= link_to "Back", books_path, class: "back" %>
						</div>
					</div>

					<% end %>
				</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
	<%= render 'books/footer' %>
</div>
</body>
</html>