<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<!-- user info -->
				<%= render 'books/list', book: @newbook, user: @user %>
				<!-- form -->
				<div class="col-xs-9">
					<table class="table table-striped">
						<h2>Book detail</h2>
						<thead>
							<tr>
								<th></th>
								<th>Title</th>
								<th>Opinion</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= attachment_image_tag @user, :image, :fill, 80, 80, format: 'jpeg', class: "img-square  profile-img", fallback: "no_image.jpg"%></td>
								<td><%= @book.title %></td>
								<td><%= @book.opinion %></td>
								<% if @book.user == current_user %>

									<td><%= link_to "Edit",edit_book_path, class: "btn-sm btn-success edit_book_#{@book.id}" %><td>
									<td><%= link_to "Delete",book_path(@book),method: :delete, class: "btn-sm btn-danger destroy_book_#{@book.id}" %>
								<% end %>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<%= render 'books/footer' %>
</body>
</html>